.color-blue {
  color: var(--color-blue);
}
.color-red {
  color: var(--color-red);
}

.color-white {
  color: var(--color-white);
}

.color-grey-light-0 {
  color: var(--color-grey-light-0);
}


.bg-white {
  background: var(--color-white);
}
.bg-green {
  background: var(--color-green-darken-0);
}

.bg-blue {
  background: var(--color-blue);
}
.bg-red {
  background: var(--color-red);
}

.bg-greyDarken-0 {
  background: var(--color-grey-darken-0);
}

.bg-greyDarken-3 {
  background: var(--color-grey-darken-3);
}
